<!-- 
<p>Interpolation binding {{classVariable}} </p>
<h1>Angular {{title | uppercase }} </h1>

<p> Property binding [classProperty]="propertyName" </p>
<div>
    <img [src]="imageUrl" alt="Image">
</div>

<p> Event Binding (eventName)="ClassMethod(); or any other Statement;" </p>
<div>
    <button (click)="incrementCount();">Increment</button>
</div>

<div>
    <button (click)="resetCount();">Reset</button>
</div>

<p> Count value: {{count}} </p>

<p>Two way data binding [(event)]="classProperty" </p>
<div>
    <input type="text" [(ngModel)]="name">
    <p> Welcome {{name}} </p>
</div>

<p> Termplate reference variable #variableName </p>
<div>
    <input #nameRef type="text">
</div> 
-->
<app-parent></app-parent>