/* You can add global styles to this file, and also import other style files */

.heading {
    text-transform: uppercase;
    color: dodgerblue;
}

span.validator {
    color: red;
    display: none;
    font-size: 12px;
}

.input-field .validate.ng-invalid.ng-touched+span.validator {
    display: block;
}

.btn-large {
    width: 100%;
}

